<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
</style>
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}
html{
	font-size: 10px;
	font-family: 'Roboto', sans-serif;
}
a{
	text-decoration: none;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Hero Section */
#hero{
	background-image:url('../images/hero-bg.png');
	background-size: cover;
	background-position: top center;
	position: relative;
}
#hero::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: .7;
	z-index: -1;
}
#hero .hero{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1{
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: white;
}
#hero .cta{
	display: inline-block;
	padding: 10px 30px;
	columns: orange;
	background-color: transparent;
	border: 2px solid orange;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	margin-top: 30px;
	transition: .3s ease;
	transition-property: background-color, color;
}
#hero .cat:hover{
	color: white;
	background-color: orange;
}
/* End Hero Section */

/* Header Section */

/* End Header Section */

/* Logo Section */

/* End Logo Section */

/* Menu Section */

/* End Menu Section */

/* Login Section */

/* End Login Section */

/* Registration Section */
#registration{
	background-image:url('../images/p4.jpg');
	background-size: cover;
	background-position: top center;
	position: relative;
}
#registration .registration{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#registration .registration-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
/* End Registration Section */

/* Service Section */
#services{
}
#services .services{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#services .services-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
/* End Service Section */

/* Employee Section */
#employee{
	background-image:url('../images/hero-bg.png');
	background-size: cover;
	background-position: top center;
	position: relative;
}
#employee .employee{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#employee .employee-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
/* End Employee Section */

/* Contact Us Section */
#contact{
}
#contact .contact{
	flex-direction: column;
	text-align: center;
	max-width: 1500px;
	margin: 0 auto;
	padding: 100px 0;
}
#contact .contact-title{
	font-size: 4rem;
	font-weight: 300;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
/* End Contact Us Section */

/* Footer Section */

/* End Footer Section */

/* Copyright Section */

/* End Copyright Section */
